h1{
    background-color: rgba(0, 0, 0, 0);
}
h1{text-align: center;
    color: white;}
    .c{
        background-color: black;
    }
    .b{
        color: white; text-align: center; margin: 4px;padding: 5px;
    }
   div{
    text-align: center;
   }
   
    
    
    
